 body {
     margin: 0px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgb(20, 27, 40);
     touch-action: manipulation;
 }

 canvas {
     background-color: rgb(13, 30, 58);
     width: 100%;
 }

 h1 {
     font-family: sans-serif;
 }

 .screen-container {
     margin-top: 30px;
     display: grid;
     position: absolute;
     align-content: center;
     justify-content: center;
     width: 600px;
     height: 600px;


 }

 button {

     border-radius: 10px;
     background-color: rgb(51, 51, 51);
     color: white;
     font-size: 80%;
     height: 40px;
     margin-bottom: 20px;
     padding: 10px 25px;
     border: 1px solid white;
     margin: 10px;
     cursor: pointer;
     max-width: 150px;

 }

 button:hover {
     background-color: rgb(70, 70, 70);
 }

 #level-buttons-container {

     grid-template-columns: 1fr 1fr 1fr 1fr;
     display: grid;
 }

 .back-button {

     position: absolute;
     top: 0px;
     left: 15px;
     width: 100px;
     align-items: center;
     justify-content: center;
 }

 .next-button {
     position: absolute;
     top: 0px;
     right: 15px;
     width: 100px;
     align-items: center;
     justify-content: center;
 }

 #control-button {
     border: none;
     background-color: rgb(6, 13, 25);
     width: 100px;
     height: 60px;
 }

 #controls {
     width: 100%;
     display: grid;
     justify-content: center;
 }

 #wrapper {
     background-color: rgb(6, 13, 25);
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     border-radius: 20px;
     display: flex;

     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 #left-right {
     display: flex
 }

 #up {
     display: flex;
     justify-content: center;
 }


 #down {
     display: flex;
     justify-content: center;
 }

 #game {
     border-radius: 20px;
 }