 body {
     margin: 0px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgb(20, 27, 40);

 }

 canvas {
     background-color: rgb(13, 30, 58);
 }

 h1 {
     font-family: sans-serif;
 }

 .screen-container {
     margin-top: 30px;
     display: grid;
     position: absolute;
     align-content: center;
     justify-content: center;
     width: 600px;
     height: 600px;
 }

 button {

     border-radius: 10px;
     background-color: rgb(51, 51, 51);
     color: white;
     font-size: medium;
     height: 40px;
     margin-bottom: 20px;
     padding: 10px 25px;
     border: 1px solid white;
     margin: 10px;
     cursor: pointer;

 }

 button:hover {
     background-color: rgb(100, 100, 100);
 }

 #level-buttons-container {
     margin-top: 90px;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     display: grid;
 }

 .back-button {
     position: absolute;
     top: 10px;
     left: 15px;
     width: 130px;
     align-items: center;
     justify-content: center;
 }

 #wrapper {
     background-color: rgb(6, 13, 25);
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 #game {
     border-radius: 20px;
 }